# Nome: **Samantha Muller**
# Tema: **KNN**

## Lendo dados no dataframe

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [31]:
dfdados = pd.read_csv('heart.csv', sep=',', encoding='utf-8')

## Informações básicas sobre os dados (numero de linhas, colunas, e primeiras 5 linhas)

In [ ]:
dfdados.shape

In [ ]:
dfdados.head()

## Categorias das variáveis

### Variáveis quantitativas:

*   Contínuas: **Oldpeak**
*   Discretas: **Age, RestingBP, Cholesterol, FastingBS, MaxHR, HeartDisease**

---

### Variáveis qualitativas:

*   Ordinais: n/a
*   Nominais: **Sex, ChestPainType, RestingECG, ExerciseAngina, ST_Slope**

### Tratamento dos valores nulos

In [8]:
dfdados.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

### A) Removes linha onde RestingBP = 0

In [32]:
dfdados[dfdados['RestingBP'] == 0]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
449,55,M,NAP,0,0,0,Normal,155,N,1.5,Flat,1

In [33]:
dfdados.drop(dfdados[dfdados['RestingBP'] == 0].index, inplace=True)

### B) Substituir pela mediana, valores de Cholesterol = 0

In [38]:
dfdados[dfdados['Cholesterol'] != 0]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [40]:
cholesterol_median = dfdados[dfdados['Cholesterol'] != 0]['Cholesterol'].median()

In [36]:
dfdados.loc[dfdados['Cholesterol'] == 0, 'Cholesterol'] = cholesterol_median

### C) Transformar os dados

#### Converte variaveis categoricas em numericas

In [46]:
dfdados['Sex'] = dfdados['Sex'].astype('category')
dfdados['ChestPainType'] = dfdados['ChestPainType'].astype('category')
dfdados['Cholesterol'] = dfdados['Cholesterol'].astype('category')
dfdados['RestingECG'] = dfdados['RestingECG'].astype('category')
dfdados['ExerciseAngina'] = dfdados['ExerciseAngina'].astype('category')
dfdados['ST_Slope'] = dfdados['ST_Slope'].astype('category')
cat_columns = dfdados.select_dtypes(['category']).columns
dfdados[cat_columns] = dfdados[cat_columns].apply(lambda x: x.cat.codes)
dfdados

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,146,0,1,172,0,0.0,2,0
1,49,0,2,160,39,0,1,156,0,1.0,1,1
2,37,1,1,130,140,0,2,98,0,0.0,2,0
3,48,0,0,138,71,0,1,108,1,1.5,1,1
4,54,1,2,150,52,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,121,0,1,132,0,1.2,1,1
914,68,1,0,144,50,1,1,141,0,3.4,1,1
915,57,1,0,130,8,0,1,115,1,1.2,1,1
916,57,0,1,130,93,0,0,174,0,0.0,1,1
917,38,1,2,138,34,0,1,173,0,0.0,2,0

#### Padronizando escalas